<form id="login">
    <h1>Регистрация</h1>
    <fieldset id="inputs">
        <input id="username" type="text" placeholder="Логин" autofocus required>
        <input id="email" type="email" placeholder="Почта" required>   
        <input id="password" type="password" placeholder="Пароль" required>
        <input id="password_copy" type="password" placeholder="Повторите пароль" required>
    </fieldset>
    <fieldset id="actions">
        <form action="">
        <input type="submit" id="submit" value="Зарегистрироваться">
        <div class="g-recaptcha" data-sitekey="6Lf0_CoUAAAAAKibE4lxIMuLsDNnNOwHpnN8MsbK"></div>
    </form>
    </fieldset>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</form>